<div class="section-collection-home">
  <div class="container py-lg-5 py-5">
    <div class="row d-flex flex-lg-row flex-column py-lg-5 py-5">
      <div class="col-lg-6 cb-col-12 left-side">
        <a href="/pages/men" class="">
          <img src="{{ 'male1.jpg' | asset_url }}" />
        </a>
        <div class="text-holder">
          <h2 class="SectionHeader__Heading Section Header__Heading--emphasize Heading u-h1 mt-4 mb-lg-3 mb-0">MEN</h2>
          <div class="SectionHeader__ButtonWrapper mt-lg-2 mt-0">
              <div class="d-flex flex-row align-items-center mb-lg-0 mb-4">

                 <a href="/pages/men" class="">Shop now</a>

                 <div class="d-flex flex-row my-2 col-lg-10 col-9 ">
                  <div class="col-lg-2 col-3 px-0">
                      <hr class="text-dark text-after">
                   </div>
                   <div class="col-lg-1 col-2">
                      <hr class="text-after">
                   </div>
                 </div>


              </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 right-side">
        <h2 class="SectionHeader__Heading Section Header__Heading--emphasize Heading u-h1">
        	Collections
        </h2>
        <a href="/pages/women">
          <img class="pt-lg-5 pt-0 mt-lg-5 mt-0" src="{{ 'female1.jpg' | asset_url }}" />
        </a>
        <div class="text-holder">
          <h2 class="SectionHeader__Heading Section Header__Heading--emphasize Heading u-h1 mt-4 mb-lg-3 mb-0">WOMEN</h2>

            <div class="SectionHeader__ButtonWrapper mt-lg-2 mt-0">
               <div class="d-flex flex-row align-items-center mb-lg-0 mb-4">

                  <a href="/pages/women" class="">Shop now</a>
                  <div class="d-flex flex-row my-2 col-lg-10 col-9 ">
                  <div class="col-lg-2 col-3 px-0">
                      <hr class="text-dark text-after">
                   </div>
                   <div class="col-lg-1 col-2">
                      <hr class="text-after">
                   </div>
                 </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "section-collection-home",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
