<div class="visit-us-holder d-flex flex-lg-row flex-column py-5">
  <div class="container d-flex flex-lg-row flex-column py-5">
    
   <div class="visit-one left  col-lg-6 col-12 p-0 mx-lg-3 mx-0">
        <div class="d-flex flex-column">
            <div class="left-side">
                <img src="{{ 'store.jpg' | asset_url }}">
            </div>
            <div class="right-side d-flex align-items-center justify-content-center flex-column py-lg-5 py-0 my-5">
                <h8 class="u-h6 mb-3 mt-lg-5 mt-0">
                    STORE
                </h8>
                <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">
                  <a href="pages/location">
                   visit us
                  </a>
                </h2>
                <p class="text-center mb-lg-5 mb-0">
                 AT OUR FLAGSHIP STORE 
                  <br>
                  in SoHo, New York. 
                  <br> 
                  367 West Broadway <br> Manhattan, NY 10013
                </p>
            </div>
        </div>
    </div>
    <div class="visit-two right col-lg-6 col-12 p-0 mx-lg-3 mx-0 mt-lg-0 mt-3">
        <div class="d-flex flex-column">
            <div class="left-side d-block d-sm-none">
                <img src="{{ 'gift1.jpg' | asset_url }}">
            </div>
            <div class="right-side d-flex align-items-center justify-content-center flex-column py-lg-5 py-0 my-5">
                <h8 class="u-h6 mb-3 mt-lg-5 mt-0">
                  GIFT
                </h8>
                <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1 text-center">
                  BELTED GIFT
                </h2>
                <p class="text-center mb-lg-5 mb-0 col-lg-8 col-12">
                  Leave all the guesswork out of gifting. Not the love. 
                </p>
                <a class="Link Link--underline" href="/products/gift-card">
                  GET A GIFT CARD
                </a>
            </div>
        </div>
    </div>
    
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
