<div class="page-our-story">

  <div class="section-one py-5 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center py-5">

            <h1 class="SectionHeader__Heading Heading u-h1 text-dark d-none d-sm-block">We are redefining leather belt design with just the tips.</h1>

      </div>
    </div>

  </div>

  <div class="hero-text-mobile mt-3 container">
     <h1 class="SectionHeader__Heading Heading u-h1 text-dark d-block d-sm-none">We are redefining leather belt design with just the tips.</h1>
  </div>


   <div class="section-two pb-5">
     <div class="container py-5">
         <div class="row d-flex flex-lg-row flex-column py-5">
           <div class="left-side col-lg-6 col-12">
               <h1 class="SectionHeader__Heading Heading u-h1">How it began</h1>
               <div class="d-flex flex-row">

				<div class="col-2 px-0">
                 	<hr class="text-dark text-after">
                 </div>
                 <div class="col-1">
                 	<hr class="text-after">
                 </div>

               </div>
           </div>
           <div class="right-side col-lg-6 col-12">
             <p>
               For a decade, Badichi redefined what it meant to shop for a belt and created a
               personalized experience for each customer with the concept of customized belts at its
               flagship retail store in SoHo, New York
             </p>
           </div>
         </div>
      </div>
  </div>

   <div class="section-three d-flex align-items-end">
     <div class="container d-flex align-items-end">
         <div class="row d-flex flex-lg-row flex-column">
           <div class="left-side col-lg-8 col-12 pb-5">
                 <h1 class="SectionHeader__Heading Heading u-h1">WHAT MAKES OUR LOOK DIFFERENT? <b> JUST THE TIP. </b></h1>
                 <p>
                    Our expertise in craftsmanship is what really sets us apart.
                 </p>
           </div>
         </div>
      </div>
  </div>

   <div class="section-four d-flex align-items-center">
     <div class="container d-flex align-items-end">
         <div class="row d-flex flex-lg-row flex-column justify-content-lg-end justify-content-center">
             <div class="left-side col-sm col-12">

             </div>
             <div class="right-side col-lg-6 col-12 d-sm-flex d-none align-items-center text-white flex-column justify-content-center">
               <p>
                 Today, founder Yinon Badichi is focusing on #justthetips, turning a classic leather belt into a
                 statement-making fashion accessory. <br> <br>
                 Each belt is beautifully crafted with premium Italian leather and uniquely
                 punctuated with its trademarked tip designs such as alligator embossed detail to pony hair.
                 Like the city that shaped us, <a href="{{ routes.root_url }}">Badichi Belts</a> possess a distinct combination of 
                 sophistication and boldness—because great personal style is all about the details.
               </p>
             </div>
           </div>
        </div>
    </div>

  	<div class="container pt-3 d-sm-none d-block pb-5">
       <p>
         Today, founder Yinon Badichi is focusing on #justthetips, turning a classic leather belt into a
         statement-making fashion accessory. <br> <br>
         Each belt is beautifully crafted with premium Italian leather and uniquely
         punctuated with its trademarked tip designs such as alligator embossed detail to pony hair.
         Like the city that shaped us, Badichi Belts possess a distinct combination of
         sophistication and boldness—because great personal style is all about the details.
       </p>
    </div>

</div>
