<div class="location-page-wrapper pb-5">
  <div class="d-flex flex-column align-items-center justify-content-center col-12 mx-auto px-0">

    <div class="image-location-holder">
    	<img class="w-100" src="{{ 'events.png' | asset_url }}">
    </div>
     <div class="location-info col-lg-4 col-12 mx-auto col-12">
      
        <h2 class="Heading u-h2 text-center mb-0 mt-5">
          <strong>EVENTS</strong>
        </h2>
         <br>
        <p class="text-center">
          Badichi is a one of a kind unique interactive experience that takes the traditional corporate and private event to make it a more creative, fun, inspiring moment.
        </p>
       <p class="text-center">
        Our welcoming and beautifully decorated boutique in SoHo is available for your events, whether it is a holiday party or an after-dinner soiree with your team, we can accommodate any occasion.
       </p>
       <p class="text-center">
         Contact us now at  <a href="mailto:info@badichibelts.com" class="mb-5 Link Link--underline">info@badichibelts.com</a> to book your event.
       </p>	
       
    </div>

  </div>
</div>


        
        