<div class="page-customer">
  
  <div class="container">
    <div class="row">
      <div class="col">
      
        <div class="section-one py-0 d-flex align-items-center justify-content-center mt-5 pt-5">
          <div class="w-100">
            <div class="d-flex flex-column align-items-center justify-content-start">

              <div class="shipping text-left">
                <h2 class="SectionHeader__Heading Heading u-h2 text-left"><strong>SHIPPING</strong></h2>
                <h3>FREE U.S. SHIPPING</h3>
                <p>
                  Once you place your order, you will receive an order confirmation and a shipping notification email with a tracking number. Orders are processed daily Monday through Friday, excluding weekends and holidays. For deliveries in the United States, USPS will deliver your package within 3-5 business days. Packages delivered outside of the U.S. arrive within 7-10 days via USPS or DHL.
                </p>
                <h3><strong>CHECKING THE STATUS OF YOUR ORDER</strong></h3>
                <p>
                  Once you place your order, you will receive an email with shipping confirmation and tracking information to check on the delivery status of your package.
                </p>
                <h3><strong>INTERNATIONAL FEES</strong></h3>
                <p>
                  For international shipments, all applicable customs fees, taxes, and duties are the sole responsibility of the customer. Customs authorities require that we state the value of your order directly on your package. It is at the sole discretion of customs agents to release your package. Note that in rare occasions, customs agents may delay delivery of some packages.
                </p>
              </div>
              
              <div class="shipping text-left mt-5 pt-5">
                <h2 class="SectionHeader__Heading Heading u-h2 text-left"><strong>RETURNS</strong></h2>
                <p>
                  If you would like to return or exchange your belt, email <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a> within 30 days of purchase. If your belt is too long, our customers find it most convenient to visit their local shoemaker who has all the tools necessary to resize the leather strap within minutes. You may also ship the belt back to us or visit one of our boutiques within 30 days of your purchase and we’ll be more than happy to adjust the belt for you.
                </p>
                <h3><strong>Refunds and Processing</strong></h3>
                <p>
                  To return your order, please email  <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a> with your order number, and we will send you a return label.
                </p>
                 <p>
                   If the belt is in good condition with no sign of wear, a refund will be issued to the account you used to make your purchase within 14 days.
                 </p>
                 <p>
                   Refunds will be processed within approximately 7 to 10 business days after we receive your return. Original shipping charges are non-refundable.
                 </p>
                <h3><strong>CUSTOMER WARRANTY</strong></h3>
                <p>
               		Our belts are made for lasting wear, so we offer our customers a one-year warranty from the date of purchase. You can find leather cleaning instructions under “Care Instructions.”
                </p>
                  <h3><strong>STORE CREDIT</strong></h3>
                <p>
                  Store Credit is only provided when previously purchased items have been returned and you have selected "Store Credit" as the refund method.
                </p>
                 <p>
                   Store credit does not expire. Your store credit can be used anytime on our website or at our SoHo boutique.
                 </p>
                 <p>
                   Your store credit cannot be transferred to another person or account.
                 </p>
                 <p>
                   Store credit may be used to purchase gift cards, which can be used online or in our SoHo boutique.
                 </p>
                 <p>
                   If the amount of your purchase exceeds the value of your store credit, the remaining balance due will require an additional method of payment.
                 </p>
                 <p>
                   Store credit is provided in U.S. dollars.
                 </p>
              </div>
              
               <div class="shipping text-left mt-5 pt-5" id="sizing">
                 <h2 class="SectionHeader__Heading Heading u-h2 text-left">
                  <strong>SIZING</strong>
                 </h2>
                 <p>
                   Select one of our measurement options below:
                 </p>
                 <p>
                 	1) Belt length :
                 </p>
                 <div class="image-holder mb-4">
                 	<img src="{{ 'belt-length.png' | asset_url }}"><br>
                   <small>Select a size by measuring an old belt from the tip to the end of the buckle.</small>
                 </div>
                 <p>
                 	2) Pants size: All we need is your pants size to find your perfect belt fit. Our belts are sized to match the waist size of your pants (in inches). For men, if you wear 34" pants, your belt will also be a size 34. For women, if you wear a size 4 pants, your belt will also be a size 4. Women will also have their pants size listed in inches under sizing, for example, size 4 (28"). 
                 </p>
                 <p>
                 	If you are unsure of your belt size because your size changes depending on the brand of your pants, it is best to go with the larger size. We make your belt measurement with plenty of extra holes for you to adjust the fit to your needs.
                 </p>
                 <p>
                   For a belt that sits on low-rise jeans, choose one inch larger than your usual pants size. For a belt that sits high on the waist, we recommend one inch smaller than your usual pants size. For women who might want to wear a belt with both high-rise and low-rise pants, we will provide an extra leather loop, free of charge. If you want to wear your belt with both high-rise and low-rise, please choose your usual pants size. We size your belt to fit in the middle holes so you will have flexibility to loosen or tighten your belt.
                 </p>
                 <p>
                   If for any reason you want to readjust your belt size, we offer free adjustments with no shipping fees within 30 days of your purchase. After 30 days, there will be a $10 shipping fee (within the US). The size adjustment will always be free.
                 </p>
                 <p>
                   If you have a specific sizing question or would like more information, please contact Customer Care at  <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a> .
                 </p>
              </div>
              
               <div class="care text-left mt-5 pt-5">
                <h2 class="SectionHeader__Heading Heading u-h2 text-left"><strong>CARE INSTRUCTIONS</strong></h2>
                 <p>
                   The comfort and appearance of all Badichi belts improve with time and wear. Proper care of your belt ensures the life of the belt and preserves its appearance.
                 </p>
                 <h4>
                   <strong>
                     Caring for your leather strap:
                   </strong>
                 </h4>
                 <p>
                   To restore shine and color, apply a leather balm with a clean, dry cloth, allowing the strap to absorb the balm for several minutes before polishing it with a soft cloth.
                 </p>
                 <p>
                   Generally, dirt and dust stains may be removed from the leather surface by gently wiping with a damp cloth. For stains that have permeated the surface, spray the stained area with a non-water-based leather cleaner and gently rub the stain with a soft cloth.
                 </p>
                 <p>
                   Store your belt in a breathable space to avoid drying and cracking.  
                 </p>
              </div>
              
              <div class="shipping text-left mt-5 pt-5">
                <h2 class="SectionHeader__Heading Heading u-h2 text-left"><strong>PRIVACY POLICY</strong></h2>
                 <p>
                   Badichi Belts ensures that all information about our customers is treated appropriately and in accordance with the Data Protection Act 1998. We will not sell your personal information to any third parties.
                 </p>
                <p>
                  The information we collect from you is intended to:
                </p>
                 <p>
                    a) Process your order efficiently.
                </p> 
                <p>
                  b) Ensure delivery of your order to the correct address.
                </p> 
                <p>
                  c) Contact you with offers (through email only).
                </p>
                <p>
                    Any information submitted to Badichi Belts via survey will be used solely to improve your shopping experience and will never be shared with third parties or used for other purposes.
                </p>
                <p>
                  We will telephone you only regarding your order. We may use customer information for payment recovery or fraud investigations. Please note that we are also compliant to disclose information if requested by the police.
                </p>
              </div>
              
               <div class="shipping text-left my-5 py-5">
                <h2 class="SectionHeader__Heading Heading u-h2 text-left"><strong>FAQ:</strong></h2>
                <h3><strong>How do I find my belt size?</strong></h3>
                 <p>
                 	To find your perfect belt fit, all we need is your pants size. We have mastered the art of belt sizing and we will make your belt measurement a great fit for you. Our belts are sized to match the waist size of your pants (in inches). For men, if you wear 34" pants, your belt is also a size 34.  For women, if you wear a size 4 pants your belt is also a size 4. Women will also have their pants size listed in inches under sizing, for example, size 4 (28").  We make the belt to be worn on the third and fourth holes, so your belt will be about 10 inches longer than your size in inches from buckle to tip.
                 </p>
                 <p>
                   If you are unsure of your belt size because your size changes depending on the brand of your pants, it is best to go with the larger size. We make your belt measurement with plenty of extra holes for you to adjust the fit to your needs. 
                 </p>
                 <p>
                   For a belt that sits on low-rise jeans, choose one inch larger than your usual pants size.  For a belt that sits high on the waist, we recommend one inch smaller than your usual pants size. If you want to wear your belt with both high-rise and low-rise pants, please choose your usual pants size. We size your belt to fit in the middle holes so you will have flexibility to loosen or tighten your belt.
                 </p>
                 <p>
                   If for any reason you want to readjust your belt size, we offer free size adjustments with no shipping fees within 30 days of your purchase. After 30 days, there will be a $10 shipping fee (within the US). The size adjustment will always be free, with the exception of snaps; after 30 days would be a $5 charge for the hardware replacement.
                 </p>
                 <p>
                   If you have a specific sizing question or would like more information, please contact Customer Care at  <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a>
                 </p>
                  <h3><strong>Can I change something in my order?</strong></h3>
                 <p>
                  If you need to modify your order, please contact  <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a>. We generally process orders on the same business day that your order is received. Once we have processed your order and your belt has been customized, we will not be able to make any changes.                 
                 </p>
                  <h3><strong>When will my order ship?</strong></h3>
                 <p>
                   Most orders ship within 24 hours, excluding weekends or holidays.
                 </p>
                 <h3><strong>What am I paying for shipping?</strong></h3>
                 <p>
                   Shipments within the United States are free. International shipping charges outside of the U.S. are a $25 flat rate.
                 </p>
                  <h3><strong>Where is my order shipping confirmation?</strong></h3>
                 <p>
                   Once your order ships, you will receive an email confirmation. If you did not receive an email from us, please check your spam folder and add <a href="mailto:info@badichibelts.com">info@badichibelts.com</a> to your safe sender list. You can also check your order status by signing into your Badichi account on our website.
                 </p>
                  <h3><strong>What if my belt is too short?</strong></h3>
                 <p>
                    Contact  <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a> within 30 days of purchase explaining how much additional length your belt needs, and we will email you a return shipping label.  Once we receive your return, we will ship your belt to you complete with the longer strap.
                 </p>
                  <h3><strong>What if my belt is too long?</strong></h3>
                 <p>
                	If your belt is the wrong length, please contact  <a class="Link--underline" href="mailto:info@badichibelts.com">info@badichibelts.com</a>. When the belt is too long, our customers find it most convenient to visit their local shoemaker who has all the tools necessary to resize the leather strap within minutes. You may also ship the belt back to us or visit our boutique and we’ll be more than happy to adjust the belt for you. If you prefer to ship the belt to us, please email <a href="mailto:info@badichibelts.com">info@badichibelts.com</a> with your request. If it is within 30 days of your purchase we will email you a return shipping label, shorten the belt and ship it back free of charge within 7 days. If it is after the 30 days of purchase there will be $10 shipping fee.                 
                 </p>
              </div>
              

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

